@import "mixins";
$fontHeader:Josefin Slab;
$colorWhite:#ffffff;

#profile-register {
  width: 850px;
  height: 730px;
  margin-top: 45px;
  margin-bottom: 45px;
  // height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: $colorWhite;
  position: relative;

}
.register-body{
  font-style: $fontHeader;
  position: absolute;
  margin: 30px 0px 0px 35px;
}
.register-icon{
  p {
    font-size: 20px;
    color: #4E4D4A;
  }
  small {
    font-size: 12px;
    color: #8c8c8c;
  }
}
.custom-border {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    width: 760px;
    border-top: 1px solid #bfbfbf;
}
.student-icon{
  float: right;
  margin-right: 30px;
  width: 90px;
  height: 73px;
  border: 2px solid #cccccc;
  text-align: center;

  p{
    font-size: 60px;
    margin-top: 10px;
  }
}

.student-personalinfo{
  clear: left;
}
.student-personalinfo{
  margin-top: 30px;
  h1 {
    font-size: 12px;
    color: #353432;
  }
}

.registration-form {
  margin-top: 10px;
}
.input-info {
  margin-top: 10px;

  input {
    font-family: $fontHeader;
    font-size: 14px;
    width: 220px;
    border-style: none;
    border-bottom: 1px solid #bfbfbf;
    &:focus{
      outline: none;
      border-color: #353432;
    }
  }

}

.dob-icon {
  margin: 1.5px;
  cursor: pointer;
  position: absolute;
}


.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 6px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  margin-left: 8px;
  color: #666;
  font-size: 14px;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 19px;
  height: 19px;
  border-radius: 11px;
  border: 2px solid #bfbfbf;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: 16px;
  content: " ";
  display: block;
  background: #FF5233;
}

.button-center{
  margin-top: 60px;
  text-align: center;

}
.sumbit-button{
  width: 150px;
  height: 30px;
  padding: 2px;
  border-radius: 2px;
  background-color: #FF8633;
  border-style: none;
  color: $colorWhite;
}
