<form action="" id="custom-search">
  <div>
    <input type="text" name="" value="" placeholder="Search" class="search" ng-model="searchStudent">
    <button type="button" name="button"><i class="fa fa-search"></i></button>
  </div>
</form>

<div class="table-responsive">
    <table class="table table-border">
      <thead>
          <tr class="row-color">
            <th class="table-border">ID No.</th>
            <th class="table-border">Student</th>
            <th class="table-border">Address</th>
            <th class="table-border">Sex</th>
            <th class="table-border">Section</th>
          </tr>
        </thead>

        <tbody class="body-color" ng-repeat="student in vm.message | filter:searchStudent">
          <td class="table-border">{{student.id}}</td>
          <td class="table-border">{{student.firstname}} {{student.lastname}}</td>
          <td class="table-border">{{student.address}}</td>
          <td class="table-border">{{student.sex}}</td>
          <td class="table-border">{{student.section}}</td>
        </tbody>

    </table>
</div>
