<form action="" id="custom-search">
  <div>
    <input type="text" name="" value="" placeholder="Search" class="search">
    <button type="button" name="button"><i class="fa fa-search"></i></button>
  </div>
</form>

<div class="table-responsive">
    <table class="table table-border">
      <thead>
          <tr class="row-color">
            <th class="table-border">ID No.</th>
            <th class="table-border">Student</th>
            <th class="table-border">Address</th>
            <th class="table-border">Sex</th>
            <th class="table-border">Section</th>
          </tr>
        </thead>
        <tbody class="body-color">
          <td class="table-border">555</td>
          <td class="table-border">Earl Hans Genoso</td>
          <td class="table-border">2133 Macajalar, CDO</td>
          <td class="table-border">M</td>
          <td class="table-border">B3</td>
        </tbody>
        <tbody class="body-color">
          <td class="table-border">444</td>
          <td class="table-border">Kristy Almuete</td>
          <td class="table-border">NHA, CDO</td>
          <td class="table-border">F</td>
          <td class="table-border">B5</td>
        </tbody>
        <tbody class="body-color">
          <td class="table-border">333</td>
          <td class="table-border">Jason Bayocot</td>
          <td class="table-border">Iponan, CDO</td>
          <td class="table-border">M</td>
          <td class="table-border">B7</td>
        </tbody>
        <tbody class="body-color">
          <td class="table-border">222</td>
          <td class="table-border">Billy Lincaro</td>
          <td class="table-border">Nazareth, CDO</td>
          <td class="table-border">M</td>
          <td class="table-border">B3</td>
        </tbody>
        <tbody class="body-color">
          <td class="table-border">111</td>
          <td class="table-border">Jacklord Guillena</td>
          <td class="table-border">Gingoog City</td>
          <td class="table-border">M</td>
          <td class="table-border">B3</td>
        </tbody>
    </table>
</div>
