<div id="attendance-body">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <i class="fa fa-clock-o"></i>
      </div>
    </nav>
  </header>

  <div class="attendance-header">
    <div class="well well-padding">
      <h3>Welcome back Earl Hans!</h3>
    </div>

    <div class="attendance-body">

      <i class="fa fa-calendar" aria-hidden="true">
        Attendance
      </i>
      <select class="styled-select slate">
        <option>R1</option>
        <option>R2</option>
        <option>R3</option>
        <option>R4</option>
      </select>

      <label class="label-title">Data by Month:</label>
      <input type="date"
             ng-model="" placeholder="Data by Month">
      <button type="button" name="button"
              ng-click="" class="btn-get">
              <i class="fa fa-search" aria-hidden="true"></i></button>
      <div class="table-attendance table-responsive">
        <table class="table table-border">
          <thead>
              <tr class="row-color">
                <th class="table-border">Student</th>
                <th class="table-border">1</th>
                <th class="table-border">2</th>
                <th class="table-border">3</th>
                <th class="table-border">4</th>
                <th class="table-border">5</th>
                <th class="table-border">6</th>
                <th class="table-border">7</th>
                <th class="table-border">8</th>
                <th class="table-border">9</th>
                <th class="table-border">10</th>
                <th class="table-border">11</th>
                <th class="table-border">12</th>
                <th class="table-border">13</th>
                <th class="table-border">14</th>
                <th class="table-border">15</th>
                <th class="table-border">16</th>
                <th class="table-border">17</th>
                <th class="table-border">18</th>
                <th class="table-border">19</th>
                <th class="table-border">20</th>
                <th class="table-border">21</th>
                <th class="table-border">22</th>
                <th class="table-border">23</th>
                <th class="table-border">24</th>
                <th class="table-border">25</th>
                <th class="table-border">26</th>
                <th class="table-border">27</th>
                <th class="table-border">28</th>
                <th class="table-border">29</th>
                <th class="table-border">30</th>
                <th class="table-border">31</th>

              </tr>
            </thead>

            <tbody class="body-color">
              <td class="table-border">
                <small style="font-size:12px;">Earl Hans</small>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>
              <td class="table-border">
                <i class="fa fa-check" aria-hidden="true"></i>
              </td>

            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
