@import "mixins";
$colorWhite:#ffffff;


#home{
  background-color: $colorWhite;
  margin-top: -19px;
  // @media (max-width: 768px) {
  //   margin-left: 36px;
  // }
  @media (max-width: 1024px) {
          margin-left: 170px;
  }
  @media (max-width: 768px) {
          margin-left: 7px;
  }


  .container {
    @media (max-width: 425px) {
            // background-color: red;
            margin-left: 10px;
            width: 406px;
    }
  }
}
.home-summary {
  // width: 1016.82px;
  height: 115px;
  background-color: $colorWhite;
}
.home-header{
  margin: 17px 0px 0px 10px;
  position: absolute;
  h1 {
    font-size: 28px;
    color: #353432;

    @media (max-width: 425px) {
            font-size: 25px;
    }

  }
  h3 {
    margin: 7px 0px 0px 0px;
    font-size: 13px;
    color: #595959;

    @media (max-width: 425px) {
            font-size: 10px;
    }
  }
}
.home-nav{
  position: absolute;
  margin: 85px 0px 0px 0px;
}
.nav-pills {
 li {
   a {
    border-radius: 0px;
    padding: 7px 15px;
    font-size: 14px;
    color: #353432;

    @media (max-width: 425px) {
            font-size: 12px;
            padding: 7px 10px;
    }

    &:hover{
      background-color:$colorWhite;
    }
   }

   &:hover{
     background-color:$colorWhite;
     border-bottom: 3px solid #FF5B33;
   }
 }
}

.click{
  border-bottom: 3px solid #FF5B33;
}

.visited {
  border-left: 4px solid #FF5B33;
  background-color: #353432;
}
