<!-- <div class="row">
  <div id="select-section">
    <select class="selectpicker" multiple title="Select Section ...">
      <option>BSIT-R5</option>
      <option>BSIT-R6</option>
      <option>BSIT-R7</option>
    </select>
  </div>
</div> -->

<div class="table-responsive table-addsection">
  <button class="add-section"><i class="fa fa-plus" aria-hidden="true"></i> Add Section</button>
    <table class="table">
      <thead>
          <tr class="row-color table-header header-section">
            <th class="center">Section</th>
            <th class="center th-header2 border"><small>Action</small></th>
          </tr>
        </thead>
        <tbody class="table-body body-section">
          <td class="student-data"><small class="name-data">BSIT-R5</small></td>
          <td class="center border">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </td>
        </tbody>
        <tbody class="table-body body-section">
          <td class="student-data"><small class="name-data">BSIT-R6</small></td>
          <td class="center border">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </td>
        </tbody>
        <tbody class="table-body body-section">
          <td class="student-data"><small class="name-data">BSIT-R7</small></td>
          <td class="center border">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </td>
        </tbody>
    </table>
</div>
