
<div class="row">
  <div id="select-section">
      <select class="styled-select slate" ng-model="vm.sectioncode">
        <option
        ng-repeat="section in vm.dataSections">{{section.sectioncode}}</option>
      </select>
    <button class="btn-go"
    ng-click="vm.getStudentbySection(vm.sectioncode)">Go <i class="fa fa-check-square-o"></i>
    </button>
  </div>
</div>

<div class="table-responsive">
    <table class="table">
      <thead>
          <tr class="row-color table-header">
            <th class="center">Student</th>
            <th class="center">{{ vm.currDate | date : "fullDate"}} </th>
          </tr>
        </thead>
        <tbody class="table-body" ng-repeat="student in vm.studentsbySection">
          <td class="student-data"><small class="name-data"> {{student.firstname}} {{student.lastname}} </small></td>
          <td class="center">
            <input type="checkbox" ng-model="vm.selectedList[student.id]" ng-value="false"/>
          </td>
        </tbody>
        <!-- <tbody class="table-body">
          <td class="student-data"><small class="name-data">Kristy Mae Almuete</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody>
        <tbody class="table-body">
          <td class="student-data"><small class="name-data">Alec Ben Genoso</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody>
        <tbody class="table-body">
          <td class="student-data"><small class="name-data">Bryan Genoso</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody> -->
    </table>
</div>
<button type="button" ng-click="vm.checkAttendance()"
name="button" class="submit"><span class="fa fa-check"></span> Submit
</button>
