<!-- <div class="row">
  <div id="select-section">
    <select class="selectpicker" multiple title="Select Section ...">
      <option>BSIT-R5</option>
      <option>BSIT-R6</option>
      <option>BSIT-R7</option>
    </select>
  </div>
</div> -->

<div class="table-responsive table-addsection">
  <button class="add-section" data-toggle="modal" data-target="#add"><i class="fa fa-plus" aria-hidden="true"></i> Add Section</button>
    <table class="table">
      <thead>
          <tr class="row-color table-header header-section">
            <th class="center">Section</th>
            <th class="center th-header2 border"><small>Action</small></th>
          </tr>
      </thead>
      <tbody class="table-body body-section" ng-repeat="section in vm.sections">
        <td class="student-data"><small class="name-data">{{section.sectioncode}}</small></td>
        <!-- <td class="student-data"><input type="text" placeholder="{{section.sectioncode}}" disabled></td> -->
        <td class="center border">
          <i class="fa fa-pencil custom-button" data-toggle="modal" data-target="#edit" ng-click="vm.selectEdit(section)"></i>
          <!-- <button ng-click="vm.deleteSection(section._id)"><i class="fa fa-trash-o"></i></button> -->
          <i class="fa fa-trash-o custom-button" ng-click="vm.deleteSection(section._id, $index)"></i>
        </td>
      </tbody>
        <!-- <tbody class="table-body body-section">
          <td class="student-data"><small class="name-data">BSIT-R5</small></td>
          <td class="center border">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </td>
        </tbody>
        <tbody class="table-body body-section">
          <td class="student-data"><small class="name-data">BSIT-R6</small></td>
          <td class="center border">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </td>
        </tbody>
        <tbody class="table-body body-section">
          <td class="student-data"><small class="name-data">BSIT-R7</small></td>
          <td class="center border">
            <i class="fa fa-pencil"></i>
            <i class="fa fa-trash-o"></i>
          </td>
        </tbody> -->
    </table>
</div>


<div id="add" class="modal fade" role="dialog">
  <div class="modal-dialog modal-custom">

    <!-- Modal content-->
    <div class="modal-content no-border ">
      <div class="modal-header no-border">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title"><i class="fa fa-plus-circle"></i> New Section</h4>
      </div>

      <div class="modal-body center">
        <form metod="post" ng-submit="vm.addSection()">
        <input type="text" class="input-width center"
        ng-model="vm.sectionData.sectioncode" placeholder="Enter Section code ..">
        <br>
        <button type="submit" class="btn btn-default">Save</button>
        </form>
      </div>
      <!-- <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
</div>
</div>

<div id="edit" class="modal fade" role="dialog">
  <div class="modal-dialog modal-custom">
    <!-- Modal content -->
    <div class="modal-content no-border ">
      <div class="modal-header no-border">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title"><i class="fa fa-plus-circle"></i> New Section</h4>
      </div>

      <div class="modal-body center">
        <form metod="post" ng-submit="vm.updateSection()">
        <input type="text" class="input-width center"
        ng-model="vm.modalData.sectioncode">
        <br>
        <button type="submit" class="btn btn-default" data-dismiss="{{vm.status}}">Update</button>
        </form>
      </div>
      <!-- <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
</div>
</div>
