
<div class="row">
  <div id="select-section">
    <select class="selectpicker" multiple title="Select Section ...">
      <option ng-repeat="section in vm.message">{{section.sectioncode}}</option>
      <!-- <option>BSIT-R6</option>
      <option>BSIT-R7</option> -->
    </select>
  </div>
</div>

<div class="table-responsive">
    <table class="table">
      <thead>
          <tr class="row-color table-header">
            <th class="center">Student</th>
            <th class="center">December 26, 2017</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <td class="student-data"><small class="name-data">Earl Hans Genoso</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody>
        <tbody class="table-body">
          <td class="student-data"><small class="name-data">Kristy Mae Almuete</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody>
        <tbody class="table-body">
          <td class="student-data"><small class="name-data">Alec Ben Genoso</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody>
        <tbody class="table-body">
          <td class="student-data"><small class="name-data">Bryan Genoso</small></td>
          <td class="center">
            <input type="radio" name="" value="">
          </td>
        </tbody>
    </table>
</div>
<button type="button" name="button" class="submit"><span class="fa fa-check"></span> Submit</button>
