@import "mixins";
$fontHeader:Josefin Slab;
$colorWhite:#ffffff;

#profile-body{
  background-color: #e7e7e7;
}
.navigation-color{
  background-color: $colorWhite;
  border-radius: 0px;
  border-bottom: 2px solid #e7e7e7;
}
.margin-right {
  margin-right: 10px;
}
.nav-item {
  border-left: 2px;
  border-style: solid;
  border-color: #e7e7e7;
}
.logo-size{
  text-align: center;
  font-size: 35px;
}//logo-size

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    @media (min-width: 992px) {
            padding-left: 225px;
    }
}//#wrapper

#sidebar-wrapper {
    // border-right: 1px solid #e7e7e7;
    // border-right: 1px solid #e7e7e7;
    float: left;
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #2B4E72;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    @media (min-width: 992px) {
            width: 225px;
    }


    .admin {
      text-align: center;
      padding: 10px;
      border-style: solid;

      p {
        text-align: center;
      }
      .admin-logo{
        font-size: 60px;
        // padding: 5px;
        margin-top: 20px;
        color: $colorWhite;
      }
      h1{
        margin-top: 20px;
        font-size: 15px;
        font-weight: bold;
        color: $colorWhite;
        font-family: $fontHeader;
      }

    }//admin
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 225px;
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;

        hr {
          border-top: 1px solid #353432;
        }

        li {
            text-indent: 0;
            line-height: 45px;

            &:hover {
              // border-left: 4px solid #FF5B33;
              background-color: #353432;
            }

            a {
                display: block;
                text-decoration: none;
                color: #ffffff;
                font-family: $fontHeader;
                font-size: 15px;
                // &:hover {
                //   background-color: #353432;
                // }
                .caret {
                  position: absolute;
                  right: 23px;
                  top: auto;
                  margin-top: 20px;
                }//caret
            }//a
        }//li


    .panel-collapse{
      list-style: none;
      -moz-padding-start: 0;
      -webkit-padding-start: 0;
      -khtml-padding-start: 0;
      -o-padding-start: 0;
      padding-start: 0;
      padding: 0;
      li{
        text-indent: 15px;
        i{
          margin-right: 10px;
        }
      }
    }

    }//.sidebar-nav

    .sidebar-icon{
      width: 45px;
      height: 45px;
      font-size: 14px;
      padding: 0 2px;
      display: inline-block;
      text-indent: 7px;
      color: #fff;
      // float: left;
    }//sidebar-icon

}//sidebar-wrapper

// .visited {
//   border-left: 4px solid #FF5B33;
//   background-color: #353432;
// }
@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.visited {
  border-left: 4px solid #FF5B33;
  background-color: #353432;
}

.profile-container{
  height: 100%;
}


// .dropdown-submenu {
//     position: relative;
// }
//
// .dropdown-menu {
//   top: 0;
//   left: 100%;
//   margin-top: -6px;
//   margin-left: -1px;
//   -webkit-border-radius: 0 6px 6px 6px;
//   -moz-border-radius: 0 6px 6px;
//   border-radius: 0 6px 6px 6px;
//   display: block;
//
//   a {
//     &:after {
//      display: block;
//      content: " ";
//      float: right;
//      width: 0;
//      height: 0;
//      border-color: transparent;
//      border-style: solid;
//      border-width: 5px 0 5px 5px;
//      border-left-color: #ccc;
//      margin-top: 5px;
//      margin-right: -10px;
//      border-left-color: #fff;
//     }
//   }
// }
