
<div>
  <label>Data by Month</label>
  <input type="date"
  ng-model="vm.date" placeholder="Data by Month">

  <button type="button" name="button" ng-click="vm.getDate()">Get</button>
</div>

<div class="table-responsive">
  <table class="table table-border">
         <thead>
             <tr class="row-color">
                 <th class="table-border">Student</th>
                 <th class="table-border font-date"
                 ng-repeat="days in vm.days">
                   <span>{{$index+1}}</span>
                 </th>

                 <!-- <th class="table-border font-date">1</th>
                 <th class="table-border font-date">2</th>
                 <th class="table-border font-date">3</th>
                 <th class="table-border font-date">4</th>
                 <th class="table-border font-date">5</th>
                 <th class="table-border font-date">6</th>
                 <th class="table-border font-date">7</th>
                 <th class="table-border font-date">8</th>
                 <th class="table-border font-date">9</th>
                 <th class="table-border font-date">10</th>
                 <th class="table-border font-date">11</th>
                 <th class="table-border font-date">12</th>
                 <th class="table-border font-date">13</th>
                 <th class="table-border font-date">14</th>
                 <th class="table-border font-date">15</th>
                 <th class="table-border font-date">16</th>
                 <th class="table-border font-date">17</th>
                 <th class="table-border font-date">18</th>
                 <th class="table-border font-date">19</th>
                 <th class="table-border font-date">20</th>
                 <th class="table-border font-date">21</th>
                 <th class="table-border font-date">22</th>
                 <th class="table-border font-date">23</th>
                 <th class="table-border font-date">24</th>
                 <th class="table-border font-date">25</th>
                 <th class="table-border font-date">26</th>
                 <th class="table-border font-date">27</th>
                 <th class="table-border font-date">28</th>
                 <th class="table-border font-date">29</th>
                 <th class="table-border font-date">30</th>
                 <th class="table-border font-date">31</th> -->

             </tr>
          </thead>
         <tbody class="body-color"
                ng-repeat="student in vm.students">
             <tr>
                 <td class="table-border font-student">{{student._id}}</td>
                   <td class="table-border font-date"
                       ng-repeat="days in vm.days">

                       <i class="fa fa-check"
                          ng-repeat="data in student.presentData"
                          ng-if="(data.students.day == $parent.$index + 1) && data.students.isPresent"
                       ></i>

                       <i class="fa fa-times"
                          ng-repeat="data in student.presentData"
                          ng-if="(data.students.day == $parent.$index + 1) && !data.students.isPresent"
                       ></i>
                  </td>
                   <!-- <span>{{data.students.id}}</span> -->
             </tr>
         </tbody>
     </table>
</div>
